{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Hide Platforms :: Remember Games{% endblock %}

{% block content %}
<br>
<div class="container">
	<form method="post" action="{% url 'games:hideplatforms' %}">
	<div class="row align-items-center">
		<div class="col" align="center">
			<h3>Hide Platforms</h3>
			Unchecked platforms will not appear in the platform drop-down for list entries.<br>
			By default, some less popular platforms are hidden.<br>
			{% if form.errors %}
			{% for error in form.avatar.errors %}
			{{ error|escape }}<br>
			{% endfor %}
			{% endif %}
			<br>
			{% csrf_token %}
			<br>
		</div>
	</div>
	<div class="row">
		{% for platform_category, platforms_list in platforms.items %}
		<div class="col">
		<h4 align="center">{{ platform_category }}</h4>
			{% for platform in platforms_list %}
			<input type="checkbox" name="enabled_platforms" value="{{ platform.id }}" {% if platform.id in enabled_platforms %}checked{% endif %}> {{ platform.name }}<br>
			{% endfor %}
		</div>
		{% if forloop.counter|divisibleby:5 %}
	</div>
	<hr>
	<div class="row">
		{% endif %}
	{% endfor %}
	</div>
		<br>
	<div class="row align-items-center">
		<div class="col" align="center">
			<button class="btn btn-primary" type="submit">Submit</button><br>
		</div>
	</div>
	</form>
</div>
{% endblock %}

