{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}My Games :: Remember.Games{% endblock %}

{% block embedpreview %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="My Games :: Remember Games" />
	<meta name="twitter:description" content="Remember Games is a website you can use to track games you've played." />
	<meta name="twitter:image" content="" />
{% endblock %}

{% block navitems %}
	<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link active" href="{% url 'games:gamelist' %}">My Games</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:browse' %}">Browse</a>
	</li>
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<form action="{% url 'games:gamelist' 'edit-manual' game_entry.id %}" method="post">
			{% csrf_token %}
			{{ form.errors }}
			<div class="fieldWrapper">
				<label for="id_name">Game Name:</label>
				<input type="text" name="name" maxlength="150" required="" value="{{ game_entry.name }}" id="id_name">
			</div>
			<div class="fieldWrapper">
				<label for="id_platform">Platform:</label>
				<select name="platform">
					{% for choice in form.platform.field.choices %}
						<option value="{{ choice.0 }}"{% if choice.0 == game_entry.platform.id %} selected=""{% endif %}>{{ choice.1 }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="fieldWrapper">
				<label for="id_status">Status:</label>
				<select name="status" id="id_status">
					<option value="PLAN"{% if game_entry.status == 'PLAN' %} selected=""{% endif %}>Plan to Play</option>
					<option value="PLAY"{% if game_entry.status == 'PLAY' %} selected=""{% endif %}>Playing</option>
					<option value="CMPL"{% if game_entry.status == 'CMPL' %} selected=""{% endif %}>Completed</option>
					<option value="DROP"{% if game_entry.status == 'DROP' %} selected=""{% endif %}>Dropped</option>
					<option value="HOLD"{% if game_entry.status == 'HOLD' %} selected=""{% endif %}>Paused</option>
				</select>
			</div>
			<div class="fieldWrapper">
				<label for="id_score">Score:</label>
				<input type="number" name="score" step="0.25" value="{{ game_entry.score }}" id="id_score">
			</div>
			<div class="fieldWrapper">
				<label for="id_hours">Hours:</label>
				<input type="number" name="hours" step="0.25" value="{{ game_entry.hours }}" id="id_hours">
			</div>
			<div class="fieldWrapper">
				<label for="id_start_date">Start Date:</label>
				<input type="text" name="start_date" id="id_start_date" value="{{ game_entry.start_date|date:'Y-m-d' }}" placeholder="YYYY-MM-DD">
			</div>
			<div class="fieldWrapper">
				<label for="id_stop_date">Stop Date:</label>
				<input type="text" name="stop_date" id="id_stop_date" value="{{ game_entry.stop_date|date:'Y-m-d' }}" placeholder="YYYY-MM-DD">
			</div>
			<div class="fieldWrapper">
				<label for="id_times_replayed">Times Replayed:</label>
				<input type="number" name="times_replayed" required="" value="{{ game_entry.times_replayed }}" id="id_times_replayed">
			</div>
			<div class="fieldWrapper">
				<label for="id_comments">Comments:</label>
				<input type="text" name="comments" maxlength="500" value="{{ game_entry.comments }}" id="id_comments">
			</div>
			<input type="submit" value="Edit">
		</form>
		<br>
		Scoring Guide: 10 = Masterpiece, 9 = Great, 8 = Very Good, 7 = Good, 6 = Fine, 5 = Average, 4 = Bad, 3 = Very Bad, 2 = Horrible, 1 = Appalling<br>
	</div>
</div>
{% endblock %}