{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ game.name }} ({{ game.year }}) :: Remember Games{% endblock %}

{% block embedpreview %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ game.name }} ({{ game.year }}) :: Remember Games" />
	<meta name="twitter:description" content="{{ game.description|truncatechars:200 }}" />
	<meta name="twitter:image" content="{{ game.image.url }}" />
{% endblock %}

{% block extracss %}
{% if game.background %}
body {
	background-image: url("{{ game.background.url }}"), url("{% static 'bgdark.png' %}");
	background-repeat: no-repeat, repeat;
	background-size: cover, auto;
	color: white;
}
{% endif %}
{% endblock %}

{% block navitems %}
	<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:gamelist' %}">My Games</a>
	</li>
	<li class="nav-item">
	<a class="nav-link active" href="{% url 'games:browse' %}">Browse</a>
	</li>
{% endblock %}

{% block content %}
{% firstof game.name|slugify '_' as gameslug %}
<div class="container firstrow">
	<div class="row justify-content-md-center">
		<div class="col-md-12" align="center">
			<br>
			<h4>{{ game.name }} ({{ game.year }})</h4>
			{% if stubbed %}<div class="alert alert-warning" role="alert">This page is a stub! Any contributions are more than welcome.</div>{% endif %}
		</div>
		<div class="col-md-4" align="center">
			<img style="max-height:400px;max-width:100%;" src="{{ game.image.url }}"><br>
			<br>
			<blockquote class="blockquote">
				{% if not game_entry %}
					<a class="btn btn-primary" role="button" href="{% url 'games:gamelist' 'edit' game.id %}">Add to List</a> <a role="button" href="{% url 'games:ignore' game.id %}" class="btn btn-{% if ignored %}dark">Unignore{% else %}secondary">Ignore{% endif %}</a>
				{% elif game_entry %}
					<a class="btn btn-primary" role="button" href="{% url 'games:gamelist' 'edit' game.id %}">{{ game_entry.status }}</a>
				{% endif %}
			</blockquote>
			<blockquote class="blockquote">
				{% if game.main_link != '' %}
				<a href="{{ game.main_link }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/website.png' %}"></a>
				{% endif %}
				{% if game.steam_link != '' %}
				<a href="{{ game.steam_link }}?curator_clanid=34633900" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/steam.png' %}"></a>
				{% endif %}
				{% if game.wikipedia_link != '' %}
				<a href="{{ game.wikipedia_link }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/wikipedia.png' %}"></a>
				{% endif %}
				{% if game.howlongtobeat_link != '' %}
				<a href="{{ game.howlongtobeat_link }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/hl2b.png' %}"></a>
				{% endif %}
				{% if game.gamefaqs_link != '' %}
				<a href="{{ game.gamefaqs_link }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/gamefaqs.png' %}"></a>
				{% endif %}
				{% if game.mobygames_link != '' %}
				<a href="{{ game.mobygames_link }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/mobygames.png' %}"></a>
				{% endif %}
				{% if game.winehq_link != '' %}
				<a href="{{ game.winehq_link }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/winehq.png' %}"></a>
				{% endif %}
				{% if game.vndb_link != '' %}
				<a href="{{ game.vndb_link }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/vndb.png' %}"></a>
				{% endif %}
				{% if game.pcgamingwiki_link != '' %}
				<a href="{{ game.pcgamingwiki_link }}" target="_blank" rel="noopener noreferrer"><img src="{% static 'icons/pcgamingwiki.png' %}"></a>
				{% endif %}
			</blockquote>
			<blockquote class="blockquote">
				{% if users_rated > 0 %}
					<span title="Rated by {{ users_rated }} user(s).">Score: {% if user_score %}{{ user_score|floatformat:"0" }}%{% else %}None{% endif %}</span>
				{% else %}
					<span title="Using external data for scoring.">Score: {% if game.temp_pop_score %}{{ game.temp_pop_score|floatformat:"0" }}%{% else %}None{% endif %}</span>
				{% endif %}
			</blockquote>
			<blockquote class="blockquote">
				<p class="mb-0">
					Genres:<br>{% for genre in game.genres.all %}
						<a href="{% url 'games:genre' genre.id genre.name|slugify %}">{{ genre.name }}</a>{% if not forloop.last %}, {% endif %}
							{% endfor %}
				</p>
			</blockquote>
			<blockquote class="blockquote">
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#gametags" aria-expanded="false" aria-controls="gametags">Show Tags</button><br>
					<div class="collapse" id="gametags">{% for tag in game.tags.all|dictsort:"name" %}
							<a href="{% url 'games:tag' tag.id tag.name|slugify %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
							{% endfor %}<br>
						{% if pending_tags %}
						Pending Approval:<br>
						{% for tag_request in pending_tags|dictsort:"tag.name" %}
							<a href="{% url 'games:tag' tag_request.tag.id tag_request.tag.name|slugify %}">{{ tag_request.tag.name }}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}<br>
						{% endif %}
						<a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'games:tagreq' game.id %}">Add a Tag?</a></div>
					<small class="text-muted">May contain spoilers</small><br>
					<!-- Can I refactor this so I don't have to loop twice? -->
					<noscript>
					JavaScript disabled, displaying all tags:<br>
					<div id="gametags-noscript">{% for tag in game.tags.all|dictsort:"name" %}
						<a href="{% url 'games:tag' tag.id tag.name|slugify %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
						{% endfor %}<br>
					{% if pending_tags %}
					Pending Approval:<br>
					{% for tag_request in pending_tags|dictsort:"tag.name" %}
						<a href="{% url 'games:tag' tag_request.tag.id tag_request.tag.name|slugify %}">{{ tag_request.tag.name }}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
					{% endif %}<br>
					<a class="btn btn-outline-primary btn-sm" role="button" href="{% url 'games:tagreq' game.id %}">Add a Tag?</a></div>
					</noscript>
			</blockquote>
		</div>
		<div class="col-md-8 align-center">
			<ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
				<li class="nav-item">
					<a href="{% url 'games:game' game.id gameslug %}" class="nav-link{% if not tab %} active{% endif %}">
						<div class="nav-field">Overview</div>
					</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'games:game' game.id gameslug 'social' %}" class="nav-link{% if tab == 'social' %} active{% endif %}">
						<div class="nav-field">Social</div>
					</a>
				</li>
			</ul>
			<br>
			{% if not tab %}
				<center>
				{% if '.webm' in game.trailer_link %}
				<video style="max-width:100%; max-height:400px" controls><source src="{{ game.trailer_link }}" type="video/webm" />Your browser does not support WEBM.</video><br>
				{% elif game.trailer_link != '' %}
				 <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{ game.trailer_link }}"></iframe><br>
				{% endif %}
				{% if game.screen1 %}<a href="{{ game.screen1.url }}" target="_blank"><img data-fancybox="gallery" style="max-height:500px;max-width:24%;object-fit: contain;" src="{{ game.screen1.url }}"></a>{% endif %}
				{% if game.screen2 %}<a href="{{ game.screen2.url }}" target="_blank"><img data-fancybox="gallery" style="max-height:500px;max-width:24%;object-fit: contain;" src="{{ game.screen2.url }}"></a>{% endif %}
				{% if game.screen3 %}<a href="{{ game.screen3.url }}" target="_blank"><img data-fancybox="gallery" style="max-height:500px;max-width:24%;object-fit: contain;" src="{{ game.screen3.url }}"></a>{% endif %}
				{% if game.screen4 %}<a href="{{ game.screen4.url }}" target="_blank"><img data-fancybox="gallery" style="max-height:500px;max-width:24%;object-fit: contain;" src="{{ game.screen4.url }}"></a>{% endif %}
				<br><br>
				<h4>
					<span class="badge badge-secondary">Planning<br>{{ user_counts.PLAN }}</span>
					<span class="badge badge-primary">Playing<br>{{ user_counts.PLAY }}</span>
					<span class="badge badge-success">Completed<br>{{ user_counts.CMPL }}</span>
					<span class="badge badge-warning">On Hold<br>{{ user_counts.HOLD }}</span>
					<span class="badge badge-danger">Dropped<br>{{ user_counts.DROP }}</span>
				</h4>
				<p>{{ game.description }}</p>
				In {{ regular_collections|length }} collection(s):<br>
				{% for collection in regular_collections %}
				<a href="{% url 'games:collection' collection.id %}" class="gamelink">{{ collection }}</a><br>
				{% endfor %}
				</center>
			{% elif tab == 'social' %}
			<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-md-6 align-center">
						<center><h4>Recent Activity</h4></center>
						{% for activity in recent_statuses %}
						<div class="text-white bg-dark mb-3 rounded" style="max-width: 100%">
							<div class="row align-items-center">
								<div class="col">
									<div class="card-header d-flex justify-content-between container-fluid">
										<a class="gamelink" href="{% url 'games:profile' activity.user.id activity.user.username|slugify %}"> <img class="rounded" src="{{ activity.user.userprofile.avatar.url }}" style="max-width: 40px; height: 40px; margin-right:10px;">{{ activity.user.username }}</a>
									</div>
									<div class="card-body">
										<div class="card-text">
											<center>
											{% if activity.status == "PLAN" %}
												Planned to play 
											{% elif activity.status == "PLAY" %}
												Started playing 
											{% elif activity.status == "CMPL" %}
												Completed
											{% elif activity.status == "DROP" %}
												Dropped 
											{% elif activity.status == "HOLD" %}
												Paused 
											{% endif %} {{ activity.created_at|naturaltime }}
											</center>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="col-md-6 align-center">
						<center><h4>Following</h4></center>
						{% for entry in following_entries %}
						<div class="text-white bg-dark mb-3 rounded" style="max-width: 100%">
							<div class="row align-items-center">
								<div class="col">
									<div class="card-header d-flex justify-content-between container-fluid">
										<a class="gamelink" href="{% url 'games:profile' entry.user.id entry.user.username|slugify %}"> <img class="rounded" src="{{ entry.user.userprofile.avatar.url }}" style="max-width: 40px; height: 40px; margin-right:10px;">{{ entry.user.username }}</a>
									</div>
									<div class="card-body">
										<div class="card-text d-flex justify-content-between">
											<div>
											{% if entry.status == "PLAN" %}
												Planning 
											{% elif entry.status == "PLAY" %}
												Playing 
											{% elif entry.status == "CMPL" %}
												Completed 
											{% elif entry.status == "DROP" %}
												Dropped 
											{% elif entry.status == "HOLD" %}
												Paused 
											{% endif %}
											</div>
											<div>
												{% if entry.user.usersettings.score_type == 'SMIL' %}
													{% if entry.score >= 7.0 %}
														<img src="{% static 'icons/happy.svg' %}" style="max-height:25px;">
													{% elif entry.score < 7.0 and entry.score >= 5.0 %}
														<img src="{% static 'icons/neutral.svg' %}" style="max-height:25px;">
													{% elif entry.score < 5.0 %}
														<img src="{% static 'icons/sad.svg' %}" style="max-height:25px;">
													{% else %}
														<img src="{% static 'icons/circle.svg' %}" style="max-height:25px;">
													{% endif %}
												{% else %}
													{% if entry.score != None %}
														{{ entry.score }}
													{% endif %}
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}