{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Remember.Games{% endblock %}

{% block embedpreview %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Remember Games" />
	<meta name="twitter:description" content="Remember Games is a website you can use to track games you've played." />
	<meta name="twitter:image" content="" />
{% endblock %}

{% block navitems %}
	<li class="nav-item">
	<a class="nav-link active" href="/">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:gamelist' %}">My Games</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:browse' %}">Browse</a>
	</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<br>
	<div class="row">
		<div class="col-1" align="center"></div>
		<div class="col-7">
			{% for activity in activities %}
				<div class="text-white bg-dark mb-3 rounded" style="max-width: 100%">
					<div class="row align-items-center">
						<div class="col-md-auto" style="width:80px;">
							<img class="rounded" src="{{ activity.game.image.url }}" style="max-width: 80px; height: 130px; object-fit: cover;">
						</div>
						<div class="col">
							<div class="card-header d-flex justify-content-between">
								<a class="gamelink" href="{% url 'games:profile' activity.user.id activity.user.username|slugify %}"> <img class="rounded" src="{{ activity.user.userprofile.avatar.url }}" style="max-width: 40px; height: 40px; margin-right:10px;">{{ activity.user.username }}</a>
								{{ activity.created_at|naturaltime }}
							</div>
							<div class="card-body">
								<p class="card-text">
									{% if activity.status == "PLAN" %}
										Plans to play 
									{% elif activity.status == "PLAY" %}
										Started playing 
									{% elif activity.status == "CMPL" %}
										Completed
									{% elif activity.status == "DROP" %}
										Dropped 
									{% elif activity.status == "HOLD" %}
										Paused 
									{% endif %}
									<a class="gamelink" href="{% url 'games:game' activity.game.id activity.game.name|slugify %}">{{ activity.game.name }}</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="col-3" align="center">
			<div class="text-white bg-dark mb-3 rounded" style="max-width: 100%">
				<div class="card-header justify-content-between">Recently Added</div>
				{% for game in latest_games %}
					<a href="{% url 'games:game' game.id game.name|slugify %}"><img class="rounded mx-auto" style="object-fit:contain;max-height:150px;max-width:23%;margin-top:5px;margin-bottom:5px;" src="{{ game.image.url }}"></a>
				{% endfor %}
			</div>
		</div>
		<div class="col-1" align="center"></div>
	</div>
</div>
{% endblock %}