{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Remember.Games{% endblock %}

{% block embedpreview %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Remember Games" />
	<meta name="twitter:description" content="Remember Games is a website you can use to track games you've played." />
	<meta name="twitter:image" content="" />
{% endblock %}

{% block navitems %}
	<li class="nav-item">
	<a class="nav-link active" href="/">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:gamelist' %}">My Games</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:browse' %}">Browse</a>
	</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<br>
	<div class="row">
		{% if mobile %}
		<div class="col-12">
		{% else %}
		<div class="col-1" align="center"></div>
		<div class="col-7">
		{% endif %}
			{% for activity in activities %}
				<div class="text-white bg-dark mb-3 rounded" style="max-width: 100%">
					<div class="row align-items-center">
						<div class="col-md-auto" style="width:80px;">
							<img class="rounded" src="{{ activity.game.image.url }}" style="max-width: 80px; height: 130px; object-fit: cover;">
						</div>
						<div class="col">
							<div class="card-header d-flex justify-content-between container-fluid">
								<a class="gamelink" href="{% url 'games:profile' activity.user.id activity.user.username|slugify %}"> <img class="rounded" src="{{ activity.user.userprofile.avatar.url }}" style="max-width: 40px; height: 40px; margin-right:10px;">{{ activity.user.username }}</a>
								<div>{{ activity.created_at|naturaltime }}{% if activity.user.id == user.id %} <a href="{% url 'games:deletestatus' activity.id %}">&#x1F5D1;</a>{% endif %}</div>
							</div>
							<div class="card-body">
								<div class="card-text">
									{% if activity.status == "PLAN" %}
										Plans to play 
									{% elif activity.status == "PLAY" %}
										Started playing 
									{% elif activity.status == "CMPL" %}
										Completed
									{% elif activity.status == "DROP" %}
										Dropped 
									{% elif activity.status == "HOLD" %}
										Paused 
									{% endif %}
									{% firstof activity.game.name|slugify '_' as gameslug %}
									<a class="gamelink" href="{% url 'games:game' activity.game.id gameslug %}">{{ activity.game.name }}</a>
									<div class="float-right"><span name='status-count-{{ activity.id }}'>{{ activity.liked_by.count }}</span> <a onclick='like_status({{ activity.id }})'><img name='like-heart-{{ activity.id }}' height="20px" src='{% if user in activity.liked_by.all  %}{% static 'icons/heart-pink.svg' %}{% else %}{% static 'icons/heart.svg' %}{% endif %}'></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% if not mobile %}
		</div>
		<div class="col-3" align="center">
		{% endif %}
			<div class="text-white bg-dark mb-3 rounded" style="max-width: 100%">
				<div class="card-header justify-content-between">Recently Added</div>
				{% for game in latest_games %}
					{% firstof game.name|slugify '_' as gameslug %}
					<a href="{% url 'games:game' game.id gameslug %}"><img class="rounded" style="object-fit:cover;height:150px;width:23%;margin-top:5px;margin-bottom:5px;" src="{{ game.image.url }}"></a>
				{% endfor %}
			</div>
		</div>
		{% if not mobile %}
		<div class="col-1" align="center"></div>
		{% endif %}
	</div>
</div>
<script>
function like_status(status_id)
{
	$.ajax({
		type: "GET",
		url: "{% url 'games:likestatus' %}" + status_id + "/",
		success: function(response) {
			heart_image = document.getElementsByName('like-heart-' + status_id.toString());
			status_count = document.getElementsByName('status-count-' + status_id.toString());
			status_count[0].textContent = response.new_count.toString();
			if (response.liked == true) {
				heart_image[0].src = "{% static 'icons/heart-pink.svg' %}";
			}
			else if (response.liked == false) {
				heart_image[0].src = "{% static 'icons/heart.svg' %}";
			}
	  }
	});
};

</script>
{% endblock %}