{% load static %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Login :: Remember Games</title>
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Login :: Remember Games" />
	<meta name="twitter:description" content="Remember Games is a website you can use to track games you've played." />
	<meta name="twitter:image" content="" />
	
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
	
	<style>
		body {
			background-image: url("{% static 'bgdark.png' %}");
			background-repeat: repeat;
			color: white;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Remember Games</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item">
		<a class="nav-link" href="/">Home</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{% url 'games:gamelist' %}">My Games</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{% url 'games:browse' %}">Browse</a>
		</li>
		<li class="nav-item">
		<a class="nav-link" href="{% url 'games:forums' %}">Forums</a>
		</li>
		</ul>
		{% if user.is_authenticated %}
			<a href="{% url 'games:profile' user.id user.username|slugify %}">
			{% if user.userprofile.avatar %}
			<img width="40" height="40" class="d-inline-block align-top rounded-circle" src="{{ user.userprofile.avatar.url }}">
			{% else %}
			<img width="40" height="40" class="d-inline-block align-top rounded-circle" src="{% static 'default_avatar.png' %}">
			{% endif %}
			</a>
		{% else %}<ul class="navbar-nav"><li class="nav-item"><a class="nav-link" href="{% url 'games:login' %}">Login</a></li></ul>
		{% endif %}
		</div>
	</nav>
	<div class="container">
		<div class="row h-100">
			<div class="col-md-12 my-auto" align="center">
				{% if form.errors %}
				<p>Your username and password didn't match. Please try again.</p>
				{% endif %}
				{% if user.is_authenticated %}
				You are already logged in!
				{% else %}
				<form method="post" action="{% url 'games:login' %}">
					{% csrf_token %}
					<table>
						<tr>
							<td>{{ form.username.label_tag }}</td>
							<td>{{ form.username }}</td>
						</tr>
						<tr>
							<td>{{ form.password.label_tag }}</td>
							<td>{{ form.password }}</td>
						</tr>
					</table>
					<input type="submit" value="login">
					<input type="hidden" name="next" value="{% url 'games:index' %}">
				</form>
				Not registered? <a href="{% url 'games:register' %}">Create an account</a>
				{% endif %}
			</div>
		</div>
	</div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>