{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ selected_user.username }}{% endblock %}

{% block embedpreview %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ selected_user.username }}" />
	<meta name="twitter:description" content="Remember Games is a website you can use to track games you've played." />
	<meta name="twitter:image" content="{{ selected_user.userprofile.avatar.url }}" />
{% endblock %}

{% block navitems %}
	<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:gamelist' %}">My Games</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:browse' %}">Browse</a>
	</li>
{% endblock %}

{% block content %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
<div class="container">
	<div class="profile">
		<div class="profile-header">
			<div class="profile-header-cover">
				{% if user.is_authenticated and user.id != selected_user.id%}<a class="btn btn-primary" role="button" href="{% url 'games:follow' selected_user.id %}" style="position:absolute;right:10px;bottom:10px;">{% if followed %}Unfollow{% else %}Follow{% endif %}</a>{% endif %}
			</div>
			<div class="profile-header-content">
				<div class="profile-header-img">
					<img class="rounded-circle" src="{{ selected_user.userprofile.avatar.url }}">
				</div>
				<ul class="profile-header-tab nav nav-tabs nav-tabs-v2">
					<li class="nav-item">
						<a href="{% url 'games:profile' selected_user.id selected_user.username|slugify %}" class="nav-link{% if not tab %} active{% endif %}">
							<div class="nav-field">Activity</div>
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'games:profile' selected_user.id selected_user.username|slugify 'list' %}" class="nav-link{% if tab == 'list' %} active{% endif %}">
							<div class="nav-field">Game List</div>
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'games:profile' selected_user.id selected_user.username|slugify 'clist' %}" class="nav-link{% if tab == 'clist' %} active{% endif %}">
							<div class="nav-field">Custom Lists</div>
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'games:profile' selected_user.id selected_user.username|slugify 'social' %}" class="nav-link{% if tab == 'social' %} active{% endif %}">
							<div class="nav-field">Social</div>
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'games:profile' selected_user.id selected_user.username|slugify 'stats' %}" class="nav-link{% if tab == 'stats' %} active{% endif %}">
							<div class="nav-field">Stats</div>
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'games:profile' selected_user.id selected_user.username|slugify 'contrib' %}" class="nav-link{% if tab == 'contrib' %} active{% endif %}">
							<div class="nav-field">Contributions</div>
						</a>
					</li>
					{% if user.is_authenticated and user.id == selected_user.id %}
					<li class="nav-item">
						<a href="{% url 'games:settings' %}" class="nav-link">
							<div class="nav-field">Settings</div>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>

		<div class="profile-container">
			<div class="profile-sidebar">
				<div class="desktop-sticky-top">
					<h4>{{ selected_user.username }}</h4>
					<div class="font-weight-600 mb-3 text-muted mt-n2">{{ selected_user.userprofile.title }}</div>
					<!--<p>
						Description
					</p>-->
				</div>
			</div>

			<div class="profile-content">
				<div class="row">
					<div class="col-xl-12">
						<div class="tab-content p-0">
							{% if not tab or tab == 'activity' %}
								{% for activity in activities %}
									<div class="text-white bg-dark mb-3 rounded" style="max-width: 100%">
										<div class="row align-items-center">
											<div class="col-md-auto" style="width:80px;">
												<img class="rounded" src="{{ activity.game.image.url }}" style="max-width: 80px; height: 130px; object-fit: cover;">
											</div>
											<div class="col">
												<div class="card-header d-flex justify-content-between">
													<a class="gamelink" href="{% url 'games:profile' activity.user.id activity.user.username|slugify %}"> <img class="rounded" src="{{ activity.user.userprofile.avatar.url }}" style="max-width: 40px; height: 40px; margin-right:10px;">{{ activity.user.username }}</a>
													<div>{{ activity.created_at|naturaltime }}{% if activity.user.id == user.id %} <a href="{% url 'games:deletestatus' activity.id %}">&#x1F5D1;</a>{% endif %}</div>
												</div>
												<div class="card-body">
													<p class="card-text">
														{% if activity.status == "PLAN" %}
															Plans to play 
														{% elif activity.status == "PLAY" %}
															Started playing 
														{% elif activity.status == "CMPL" %}
															Completed
														{% elif activity.status == "DROP" %}
															Dropped 
														{% elif activity.status == "HOLD" %}
															Paused 
														{% endif %}
														<a class="gamelink" href="{% url 'games:game' activity.game.id %}">{{ activity.game.name }}</a>
													</p>
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							{% elif tab == 'list' %}
								{% for status, game_list in total_list.items %}
									{% if status != 'Imported' %}
										<table class="table table-hover table-striped table-dark" style="text-align: center;">
										<tr><td colspan="5"><h3><center>{{ status }}</center></h3></td></tr>
										<tr>
										<th scope="col" width="50%">Game Title</th>
										<th scope="col" width="15%">Platform</th>
										<th scope="col" width="10%">Score</th>
										<th scope="col" width="10%">Hours</th>
										<th scope="col" width="15%">Flags</th>
										</tr>
											{% for entry_name, entry in game_list.items %}
											<tr>
												<td>{% if entry.game_id %}<a class="gamelink" href="{% url 'games:game' entry.game_id entry_name|slugify %}">{% endif %}{{ entry_name }}{% if entry.game_id %}</a>{% endif %}</td>
												<td>{% if entry.platform %}{% if entry.platform.shorthand %}{{ entry.platform.shorthand }}{% else %}{{ entry.platform.name }}{% endif %}{% else %}None{% endif %}</td>
												<td>{% if profile_score_type == 'SMIL' %}
														{% if entry.score >= 7.0 %}
															<img src="{% static 'icons/happy.svg' %}" style="max-height:25px;">
														{% elif entry.score < 7.0 and entry.score >= 5.0 %}
															<img src="{% static 'icons/neutral.svg' %}" style="max-height:25px;">
														{% elif entry.score < 5.0 %}
															<img src="{% static 'icons/sad.svg' %}" style="max-height:25px;">
														{% else %}
															<img src="{% static 'icons/circle.svg' %}" style="max-height:25px;">
														{% endif %}
													{% else %}
														{{ entry.score }}
													{% endif %}</td>
												<td>{{ entry.hours }}</td>
												<td>
													{% if entry.comments %}<span title="{{ entry.comments }}">&#x1F4AC;</span>{% endif %}
													{% if entry.times_replayed > 0 %}<span title="Replayed {{ entry.times_replayed }} time{% if entry.times_replayed > 1 %}s{% endif %}!">&#x1F501;</span>{% endif %}
												</td>
											</tr>
											{% endfor %}
										</table>
									{% endif %}
								{% endfor %}
							{% elif tab == 'clist' %}
							<center>
							{% for list in clists %}
							<a class="gamelink" href="{% url 'games:customlist' list.id %}">{{ list.name }}</a> ({{ list.games.count }})<br>
							{% endfor %}
							</center>
							{% elif tab == 'social' %}
							<div class="alert alert-primary" role="alert">Following {{ selected_user.userprofile.followed_users.count }} user{% if selected_user.userprofile.followed_users.count != 1 %}s{% endif %}:</div>
								{% for fuser in selected_user.userprofile.followed_users.all %}
									<a href="{% url 'games:profile' fuser.id fuser.username|slugify %}">
									<img width="80" height="80" class="d-inline-block align-top rounded-circle" src="{{ fuser.userprofile.avatar.url }}">
									</a>
								{% endfor %}
							<br><br><div class="alert alert-primary" role="alert">Followed by {{ followed_by.count }} user{% if followed_by.count != 1 %}s{% endif %}:</div>
								{% for fuser in followed_by %}
									<a href="{% url 'games:profile' fuser.id fuser.username|slugify %}">
									<img width="80" height="80" class="d-inline-block align-top rounded-circle" src="{{ fuser.userprofile.avatar.url }}">
									</a>
								{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}