{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Register :: Remember Games{% endblock %}

{% block embedpreview %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Register :: Remember Games" />
	<meta name="twitter:description" content="Remember Games is a website you can use to track games you've played." />
	<meta name="twitter:image" content="" />
{% endblock %}

{% block navitems %}
	<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:gamelist' %}">My Games</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:browse' %}">Browse</a>
	</li>
{% endblock %}

{% block content %}
<div class="container">
	<br>
	<div class="row h-100">
		<div class="col-md-12 my-auto" align="center">
			{% if user.is_authenticated %}
				You are already logged in!
			{% else %}
				<form method="post">
				{% csrf_token %}
				{% for field in form %}
				<p>
				{{ field }}
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				<button type="submit">Sign up</button>
				</form>
			{% endif %}
		</div>
	</div>
	<br><br><br><br>
</div>
{% endblock %}