{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ tag.name }} :: Remember Games{% endblock %}

{% block embedpreview %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ tag.name }} :: Remember Games" />
	<meta name="twitter:description" content="Remember Games is a website you can use to track games you've played." />
	<meta name="twitter:image" content="" />
{% endblock %}

{% block navitems %}
	<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:gamelist' %}">My Games</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:browse' %}">Browse</a>
	</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<center><h3>Games tagged with "{{ tag.name }}":</h3></center>
	<div class="row">
		{% for game in game_list %}
			{% if game.image %}
			<div class="col d-flex align-items-md-center justify-content-md-center">
			<a href="{% url 'games:game' game.id %}"><img class="rounded mx-auto d-block" style="object-fit:contain;max-height:250px;max-width:167px;" src="{{ game.image.url }}"></a>
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="col-md-12" align="center">
		{% if game_list.has_previous %}
		<a href="?page={{ game_list.previous_page_number }}">&laquo;</a>
		{% else %}
		&laquo;
		{% endif %}
		{{ game_list.number }}
		{% if game_list.has_next %}
		<a href="?page={{ game_list.next_page_number }}">&raquo;</a>
		{% else %}
		&raquo;
		{% endif %}
	</div>
</div>
{% endblock %}