{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}My Games :: Remember Games{% endblock %}

{% block embedpreview %}
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="My Games :: Remember Games" />
	<meta name="twitter:description" content="Remember Games is a website you can use to track games you've played." />
	<meta name="twitter:image" content="" />
{% endblock %}

{% block navitems %}
	<li class="nav-item">
	<a class="nav-link" href="/">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link active" href="{% url 'games:gamelist' %}">My Games</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="{% url 'games:browse' %}">Browse</a>
	</li>
{% endblock %}

{% block content %}
<div class="container">
	<br>
	<center><a href="{% url 'games:gamelist' 'add-manual' %}" class="gamelink">Add Game Manually</a> | <a href="{% url 'games:recommendations' %}" class="gamelink">Recommendations</a></center><br>
	<div class="row">
		{% for status, game_list in total_list.items %}
			<table class="table table-hover table-striped table-dark" style="text-align: center;">
			<tr><td colspan="6"><h3><center>{{ status }}</center></h3></td></tr>
			<tr>
			<th scope="col" width="5%">Actions</th>
			<th scope="col" width="45%">Game Title</th>
			<th scope="col" width="15%">Platform</th>
			<th scope="col" width="10%">Score</th>
			<th scope="col" width="10%">Hours</th>
			<th scope="col" width="15%">Flags</th>
			</tr>
				{% for entry_name, entry in game_list.items %}
				<tr>
					<td>
						<a href="{% url 'games:gamelist' entry.edit_type entry.id %}">&#x2699;</a>
						<a href="{% url 'games:gamelist' entry.delete_type entry.id %}">&#x1F5D1;</a>
					</td>
					<td>{% if entry.game_id %}<a class="gamelink" href="{% url 'games:game' entry.game_id entry_name|slugify %}">{% endif %}{{ entry_name }}{% if entry.game_id %}</a>{% endif %}</td>
					<td>{% if entry.platform.shorthand %}{{ entry.platform.shorthand }}{% else %}{{ entry.platform.name }}{% endif %}</td>
					<td>{% if settings.score_type == 'smile' %}
							{% if entry.score >= 7.0 %}
								<img src="{% static 'icons/happy.svg' %}" style="max-height:25px;">
							{% elif entry.score < 7.0 and entry.score >= 5.0 %}
								<img src="{% static 'icons/neutral.svg' %}" style="max-height:25px;">
							{% elif entry.score < 5.0 %}
								<img src="{% static 'icons/sad.svg' %}" style="max-height:25px;">
							{% else %}
								<img src="{% static 'icons/circle.svg' %}" style="max-height:25px;">
							{% endif %}
						{% else %}
							{{ entry.score }}
						{% endif %}</td>
					<td>{{ entry.hours }}</td>
					<td>
						{% if entry.comments %}<span title="{{ entry.comments }}">&#x1F4AC;</span>{% endif %}
						{% if entry.times_replayed > 0 %}<span title="Replayed {{ entry.times_replayed }} time{% if entry.times_replayed > 1 %}s{% endif %}!">&#x1F501;</span>{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		{% endfor %}
	</div>
</div>
{% endblock %}